.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #e4e2e2;
}

.login-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: white;
  padding: 30px 50px;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 0px 0px 30px #b9b8b8;
  transition: border .3s ease;
}

.login-container:hover {
  border: 1px solid #0099f8;
}

.company-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-image {
  height: 80px;
  width: 330px;
}

.welcome-section {
  text-align: center;
}

.welcome-section h2 {
  font-size: 22px;
  font-weight: 600;
}

.welcome-section p {
  font-size: 14px;
  color: #a5a5a5;
}

.login-input {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0px;
}

.login-input p {
  width: 80px;
}

.login-input input {
  height: 35px;
  padding: 0px 5px;
  border: 1px solid #a5a5a5;
  border-radius: 5px;
  outline: 2px solid white;
  width: 250px;
  font-size: 14px;
  transition: outline .3s ease;
}

input:focus {
  border: 1px solid #0099f865;
  outline: 2px solid #0099f865;
}

.login-input button {
  height: 35px;
  width: 100px;
  background-color: #0099f8;
  padding: 5px 20px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  outline: 3px solid white;
  transition: all .3s ease;
}

.login-input button:focus {
  outline: 3px solid #0099f865;
}